.route-link-container {
  width: max-content;
  padding: 10px 20px;
  background-color: #c5cae9;
  margin-bottom: 10px;
  margin-top: 10px;
  a {
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
  }
}
h1 {
  font-family: monospace;
  font-size: 40px;
  color: #e53935;
}
